<table class="table table-bordered">
	<thead>
		<tr>
			<th ng-repeat="th in config" ng-click="order(th.orderField)">
				{{th.title}}
			</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="tr in data">
			<td ng-repeat="td in config">
				<div ng-if="!isTemplate(td.renderer)" ng-bind-html="td.renderer(tr, td) | toTrusted"></div>
				<div ng-if="isTemplate(td.renderer)" ng-include="td.renderer"></div>
			</td>
		</tr>
	</tbody>
</table>

<div class="text-center">
	<button type="button" class="btn btn-success" ng-click="loadMore()">Загрузить еще</button>
</div>